# Environments
venv/
.env
.venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Databases
*.sqlite3
*.sqlite
pemali_db/

# Logs
*.log
logs/

# IDE and OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Project specific
mock_data/
